
<div class="page-wrapper">
    <div class="authentication-box">
        <div class="container">
            <div class="row">
                <div class="col-md-12 p-0 card-right">
                    <div class="card tab2-card">
                        <div class="card-body"> 
                            <div class="tab-content" id="top-tabContent">
                                <!--Note: ng-bootstrap nav is used for Tabs -->
                                <!-- Access #nav templateRef varaible on component using @ViewChild() for chaning tabs using select() method of nav-->
                                <ul ngbNav #nav="ngbNav" class="nav nav-tabs nav-material" activeId="registerTab" (navChange)="onTabChange($event)">
                                    <li ngbNavItem="loginTab">
                                        <a ngbNavLink> <app-feather-icon icon="unlock"></app-feather-icon> Login</a>
                                        <ng-template ngbNavContent>
                                            <!--____________-->
                                            <!-- Login Form -->
                                            <!--____________-->
                                            <div>
                                                <form [formGroup]="loginForm" class="form-horizontal auth-form">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Username" formControlName="userName" [ngClass]="{'is-invalid':(loginControls['userName'].touched || loginControls['userName'].dirty) && loginControls['userName'].errors}">
                                                        <div class="invalid-feedback" *ngIf="(loginControls['userName'].touched || loginControls['userName'].dirty) && loginControls['userName'].errors">
                                                            <div *ngIf="loginControls['userName'].hasError('required')">UserName is required</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':(loginControls['password'].touched || loginControls['password'].dirty) && loginControls['password'].errors}">
                                                        <div class="invalid-feedback" *ngIf="(loginControls['password'].touched || loginControls['password'].dirty) && loginControls['password'].errors">
                                                            <div *ngIf="loginControls['password'].hasError('required')">Password is required</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-button">
                                                        <button class="btn btn-primary" type="submit" (click)="loginUser()" [disabled]="!loginForm.valid">Login</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </ng-template>
                                    </li>
                                    <li ngbNavItem="registerTab">
                                        <a ngbNavLink> <app-feather-icon icon="user-plus"></app-feather-icon> Register</a>
                                        <ng-template ngbNavContent>
                                            <!--_______________-->
                                            <!-- Register Form -->
                                            <!--_______________-->
                                            <div>
                                                <form [formGroup]="registerForm" class="form-horizontal auth-form">
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="First Name" formControlName="firstName" [ngClass]="{'is-invalid':(registerControls['firstName'].touched || registerControls['firstName'].dirty) && registerControls['firstName'].errors}">
                                                        <div class="invalid-feedback" *ngIf="(registerControls['firstName'].touched || registerControls['firstName'].dirty) && registerControls['firstName'].errors">
                                                            <div *ngIf="registerControls['firstName'].hasError('required')">First Name is required</div>
                                                            <div *ngIf="registerControls['firstName'].hasError('minlength')">First Name must be minimum of 3 characters</div>
                                                            <div *ngIf="registerControls['firstName'].hasError('maxlength')">First Name cannot exceed 15 characters</div>
                                                            <div *ngIf="registerControls['firstName'].hasError('validAlphanumericField')">Please enter a valid alphanumeric value!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="text" class="form-control" placeholder="Last Name" formControlName="lastName" [ngClass]="{'is-invalid':(registerControls['lastName'].touched || registerControls['lastName'].dirty) && registerControls['lastName'].errors}">
                                                        <div class="invalid-feedback" *ngIf="(registerControls['lastName'].touched || registerControls['lastName'].dirty) && registerControls['lastName'].errors">
                                                            <div *ngIf="registerControls['lastName'].hasError('required')">Last Name is required</div>
                                                            <div *ngIf="registerControls['lastName'].hasError('minlength')">Last Name must be minimum of 3 characters</div>
                                                            <div *ngIf="registerControls['lastName'].hasError('maxlength')">Last Name cannot exceed 15 characters</div>
                                                            <div *ngIf="registerControls['lastName'].hasError('validAlphanumericField')">Please enter a valid alphanumeric value!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="email" class="form-control" placeholder="Email" formControlName="email" [ngClass]="{'is-invalid':(registerControls['email'].touched || registerControls['email'].dirty) && registerControls['email'].errors}">
                                                        <div class="invalid-feedback" *ngIf="(registerControls['email'].touched || registerControls['email'].dirty) && registerControls['email'].errors">
                                                            <div *ngIf="registerControls['email'].hasError('required')">Email is required</div>
                                                            <div *ngIf="registerControls['email'].hasError('validEmailField')">Please enter a valid email!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" placeholder="Password" formControlName="password" [ngClass]="{'is-invalid':(registerControls['password'].touched || registerControls['password'].dirty) && registerControls['password'].errors}">
                                                        <div class="invalid-feedback" *ngIf="(registerControls['password'].touched || registerControls['password'].dirty) && registerControls['password'].errors">
                                                            <div *ngIf="registerControls['password'].hasError('required')">Password is required</div>
                                                            <div *ngIf="registerControls['password'].hasError('pattern')">Password must contain at least 1 special character, 1 uppercase letter, 1 lowercase letter, and 1 number, with a minimum length of 8 characters.</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-group">
                                                        <input type="password" class="form-control" placeholder="Confirm Password" formControlName="confirmPassword" [ngClass]="{'is-invalid':(registerControls['confirmPassword'].touched || registerControls['confirmPassword'].dirty) && registerControls['confirmPassword'].errors}">
                                                        <div class="invalid-feedback" *ngIf="(registerControls['confirmPassword'].touched || registerControls['confirmPassword'].dirty) && registerControls['confirmPassword'].errors">
                                                            <div *ngIf="registerControls['confirmPassword'].hasError('required')">Confirm Password is required</div>
                                                            <div *ngIf="registerControls['confirmPassword'].hasError('mustMatch')">Confirm Password must be same as the Password!</div>
                                                        </div>
                                                    </div>
                                                    <div class="form-button">
                                                        <button class="btn btn-primary" type="submit" (click)="registerUser()" [disabled]="!registerForm.valid">Register</button>
                                                    </div>
                                                </form>
                                            </div>
                                        </ng-template>
                                    </li>
                                </ul>                    
                                <div [ngbNavOutlet]="nav"></div>   
                                <!----------------------------------------> 
                            </div>         
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
