<!--=========-->
<!-- Sidebar -->
<!--=========-->
<!-- Sidebar HeaderLogo -->
<div class="main-header-left d-none d-lg-block">
    <div class="logo-wrapper">
        <a><img class="blur-up lazyloaded" [src]="shoplogoImage" alt="sidebar-header-logo"></a>
    </div>
</div>
<!-- User Details -->
<div class="sidebar custom-scrollbar">
    <div class="sidebar-user text-center">
        <div>
            <img class="img-60 rounded-circle" [src]="adminUserImage" alt="user-image">
    </div>
    <h6 class="mt-3 f-14"> {{userDetails.firstName + userDetails.lastName}}</h6>
    <p> {{userDetails.userType}} </p>
</div>
<!------------------>
<!-- Sidebar Menu -->
<!------------------>
<ul class="sidebar-menu">
    <li *ngFor="let menuItem of MenuItems" [class.active]="menuItem.active">
        <!-------------------->
        <!-- 1st Level Menu -->
        <!-------------------->
        <!-- Sub menu -->
        <a href="javascript:void(0)" class="sidebar-header" *ngIf="menuItem.type==='menu'" (click)="openSubMenu(menuItem)">
            <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span> {{menuItem.title}} </span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <!-- Link menu -->
        <a class="sidebar-header" *ngIf="menuItem.type==='link'" [routerLink]="menuItem.path" routerLinkActive="active">
            <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span> {{menuItem.title}} </span>
            <i class="fa fa-angle-right pull-right" *ngIf="menuItem.children"></i>
        </a>
        <!-- Button menu (LogOut button)-->
        <a class="sidebar-header" *ngIf="menuItem.type === 'click'" (click)="performAction(menuItem.actionName)" routerLinkActive="active">
            <app-feather-icon [icon]="menuItem.icon"></app-feather-icon> <span> {{menuItem.title}} </span>
        </a>
        <!-------------------->
        <!-- 2nd Level Menu -->
        <!-------------------->
        <ul class="sidebar-submenu" *ngIf="menuItem.children" [class.menu-open]="menuItem.active">
            <li Class="active" *ngFor="let childrenItem of menuItem.children" [class.active]="childrenItem.active">
                <!-- Sub -->
                <a href="javascript:void(0)" *ngIf="childrenItem.type==='menu'" (click)="openSubMenu(childrenItem)">
                    <i class="fa fa-circle"></i><span> {{childrenItem.title}} </span>
                    <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
                </a>
                <!-- Link -->
                <a *ngIf="childrenItem.type==='link'" [routerLink]="childrenItem.path" routerLinkActive="active">
                    <i class="fa fa-circle"></i><span> {{childrenItem.title}} </span>
                    <i class="fa fa-angle-down pull-right" *ngIf="childrenItem.children"></i>
                </a>
                <!-------------------->
                <!-- 3rd Level Menu -->
                <!-------------------->
                <ul class="sidebar-submenu" *ngIf="childrenItem.children">
                    <li *ngFor="let childrenSubItem of childrenItem.children">
                        <!-- Link -->
                        <a *ngIf="childrenSubItem.type==='link'" [routerLink]="childrenSubItem.path" routerLinkActive="active">
                            <i class="fa fa-circle"></i> <span> {{childrenSubItem.title}} </span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
    </li>
</ul>