<div class="container-fluid">
    <div class="card">
        <div class="card-header">
            <h5>Size Master</h5>
        </div>
        <div class="card-body tab2-card">  
            <ul ngbNav #nav="ngbNav" activeId="viewTab" class="nav nav-tabs nav-material" (navChange)="onTabChange($event)">
                <li ngbNavItem="addTab">
                    <button ngbNavLink>Add</button>
                    <ng-template ngbNavContent>
                        <!--______________-->
                        <!-- Add/Edit Tab -->
                        <!--______________-->
                        <form [formGroup]="fData" class="form-horizontal">
                            <div class="form-group row">
                                <label class="col-sm-3 col-form-label">*Name</label>
                                <div class="col-sm-7">
                                    <input type="text" class="form-control" placeholder="Name" formControlName="name" [ngClass]="{'is-invalid':(formControls['name'].touched || formControls['name'].dirty) && formControls['name'].errors}" >
                                    <div class="invalid-feedback" *ngIf="(formControls['name'].touched || formControls['name'].dirty) && formControls['name'].errors">
                                        <div *ngIf="formControls['name'].hasError('required')">Name is required.</div>
                                        <div *ngIf="formControls['name'].hasError('minlength')">Name must be minimum of 2 characters</div>
                                        <div *ngIf="formControls['name'].hasError('maxlength')">Name cannot exceed 6 characters</div>
                                        <div *ngIf="formControls['name'].hasError('validNoWhiteSpace')">Only whitespace characters not allowed!</div>
                                        <div *ngIf="formControls['name'].hasError('validCharacterField')">Name must be contains char and space only!</div>
                                    </div>
                                </div>
                            </div>
                            <div class="fa-pull-right" style="margin-top: 20px;">
                                <button class="btn btn-primary" (click)="submit()" [disabled]="!fData.valid">{{buttonText}}</button>
                                <button class="btn btn-danger mx-2" (click)="cancel()">Cancel</button>
                            </div>
                        </form>
                    </ng-template>
                </li>
                <li ngbNavItem="viewTab">
                    <button ngbNavLink>View</button>
                    <ng-template ngbNavContent>
                        <!--__________-->
                        <!-- View Tab -->
                        <!--__________-->
                        <div class="container-fluid">
                            <div class="row">
                                <div class="col-sm-12">
                                    <div class="card">
                                        <div class="card-body">
                                            <div class="custom-datatable">
                                               <!-- ngx datatable -->
                                               <ngx-datatable class="bootstrap" [rows]="objRows" [columnMode]="'force'" [headerHeight]="50" [footerHeight]="50" [rowHeight]="'auto'" [limit]="5">
                                                    <ngx-datatable-column name="Name" prop="name"></ngx-datatable-column>
                                                    <ngx-datatable-column name="Created Date" prop="createdOn"></ngx-datatable-column>
                                                    <ngx-datatable-column name="Actions">
                                                        <ng-template ngx-datatable-cell-template let-row="row">
                                                            <button class="fa fa-edit" style="color: blue;" (click)="edit(row.id)"></button>
                                                            <button class="fa fa-trash" style="margin-left: 4px;color:red" (click)="delete(row.id)"></button>
                                                        </ng-template>
                                                    </ngx-datatable-column>
                                               </ngx-datatable>
                                               <!------------------->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ng-template>
                </li>
            </ul>
            <div [ngbNavOutlet]="nav" class="mt-2"></div>
        </div>
    </div>
</div>